div.title{
	font-size: 300px;
	color: #CDCDCE;
	margin-top: 100px;
	padding:10px;
	border-style: solid;
	border-width: 5px;
	border-color: #CDCDCE;
	width: 600px;
}
div.desc{
	font-size: 12px;
	font-family: 'Courier New';
	color: #CDCDCE;
}
input[type=submit]{
	width:50px;
	border:0px;
	background-color: transparent;
	color: #CDCDCE;
}
form{
	float:center;
}
body{
	background: no-repeat center center cover;
}
