div.title{
	font-size: 300px;
	color: #CDCDCE;
	margin-top: 100px;
	padding:10px;
	border-style: solid;
	border-width: 5px;
	border-color: #CDCDCE;
	max-width: 600px;
	max-height: 300px;
}
.title img{
	max-width: 475px;
}
div.desc{
	font-size: 12px;
	font-family: 'Courier New';
	color: #CDCDCE;
}
.button{
	width:50px;
	border:0px;
	color: #CDCDCE;
	background-color: transparent !important;
	background: transparent !important;
}
form{
	float:center;
}
body{
        background-attachment: fixed;
        background-repeat: no-repeat;
	background-position: center;
}
