div.title{
        font-size: 300px;
        color: #CDCDCE;
        margin-top: 10%;
        padding:10px;
        border-style: solid;
        border-width: 5px;
        border-color: #CDCDCE;
        max-width: 600px;
        max-height: 300px;
}
.title img{
        max-width: 475px;
}
div.desc{
        font-size: 12px;
        font-family: 'Courier New';
        color: #CDCDCE;
}
input[type=submit]{
        width:65px;
        border:0px;
        color: #CDCDCE;
        background: transparent !important;
	font-family: "Lucida Console";
}
form{
        float:center;
}
body{
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
}
