div.title{
        font-size: 7px;
        color: #CDCDCE;
        margin-top: 2%;
        padding:1px;
        border-style: solid;
        border-width: 5px;
        border-color: #CDCDCE;
}
.title img{
        max-width: 100% !important;
}
div.desc{
        font-size: 12px;
        font-family: 'Courier New';
        color: #CDCDCE;
}
input[type=submit]{
        width:8%;
        border:0px;
	font-size: 17.5px;
        color: #708694 !important;
	font-family: "Menlo-Regular";
}
form{
        float:center;
}
body{
        background-color; #fff;
}
