div.title{
        font-size: 7px;
        color: #CDCDCE;
        margin-top: 23px;
        padding:2px;
        border-style: solid;
        border-width: 5px;
        border-color: #CDCDCE;
}
.title img{
        max-width: 100% !important;
}
div.desc{
        font-size: 12px;
        font-family: 'Courier New';
        color: #CDCDCE;
}
input[type=submit]{
        width:6%;
        border:0px;
        color: #708694 !important;
}
form{
        float:center;
}
body{
        background-color; #fff;
}
