div.title{
        font-size: 5px;
        color: #CDCDCE;
        margin-top: 23px;
        padding:2px;
        border-style: solid;
        border-width: 5px;
        border-color: #CDCDCE;
        max-width: 5px;
        max-height: 20px;
}
.title img{
        max-width: 10px;
}
div.desc{
        font-size: 12px;
        font-family: 'Courier New';
        color: #CDCDCE;
}
input[type=submit]{
        width:7%;
        border:0px;
:x
        color: #CDCDCE;
}
form{
        float:center;
}
body{
        background-color; #fff;
}
