#folio{
        font-size: 15px;
	color: #CDCDCE;
        margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}
#folio img{
        padding: 0px;
        max-width: 250px;
	margin-bottom: 20%;
	margin-left: auto;
	margin-right: auto;
}
input[type="submit"]{
        font-family: "Courier New";
        border: none;
        background-color: transparent;
        color: #708694;
	padding:2px;
	width: 40%;
	float: center;
	margin-left: 30%;
	font-size: 15px;
	height: 6%;
	clear: both !important;
}
#hr1{
	clear: both;
}
#hr2{
	clear: both;
	margin-top: 20px;
}
#text{
        margin-top: 3%;
        margin-left: 5%;
        width: 80%;
	font-family: "Courier New" !important;
	font-size: 13px;
        padding: 7px;
        float: center;
        color: #708694;
}
#text p{
        color: #708694;
        margin:auto;
        margin-top: 3%;
        font-family: "Courier New";
        font-size: 16px;
}
#sub1{
	width: 100%;
	clear: both !important;
	border: 3px;
	border-color: #708694;
}
.main{
	float:center;
	width: 100%
}
.contact{
	float:center;
        width: 100%
}
.archive{
        float:center;
        width: 100%
}
.submissions{
	float:center;
        width: 100%
}
/* ////////////////////////body/////////////////////////////// */

body{
	background: none !important;
}
#p1{
    display: block;
    margin-top:20px;
    margin-left:8px;
    width: 75%;
}

