#folio{
        font-size: 15px;
        float: center
	color: #CDCDCE;
        margin-top: 10px;
}
#folio img{
        padding: 0px;
        max-width: 250px;
	margin-bottom: 10px;
}
input[type="submit"]{
        font-family: "Lucida Console";
        border: none;
        background-color: transparent;
        color: #708694;
	padding:2px;
	width: 40%;
	float: center;
	margin-left: 30%;
	font-size: 18px;
	height: 20px;
}
#hr1{
        margin-top: 40px;
}
#hr2{
        margin-top: 14px;
}
/*form{
    float:left;
    margin-left:25px;
}*/
#text{
        margin-top: 3%;
        margin-left: 5%;
        width: 80%;
	font-size: 13px;
        padding: 7px;
        float: center;
        color: #708694;
}
#text p{
        color: #708694;
        margin:auto;
        margin-top: 3%;
        font-family: "Lucida Console";
        font-size: 16px;
}
#sub1{
	width: 100%;
}
.main{
	float:center;
	width: 100%
}
.contact{
	float:center;
        width: 100%
}
.archive{
        float:center;
        width: 100%
}
.submissions{
	float:center;
        width: 100%
}
/* ////////////////////////body/////////////////////////////// */

body{
	background: none !important;
}
#p1{
    display: block;
    margin-top:20px;
    margin-left:8px;
    width: 75%;
}

