#folio{
    	font-size: 115px;
    	margin-left: 3%;
	color: #CDCDCE;
	width: 30%;
	height: 8%;
	border-color: #CDCDCE;
	border-width: 1px;
	padding:0px;
	margin-top: 30px;
}
input[type="submit"]{
	font-family: "Lucida Console";
        width:75px;
        border: none;
	background-color: transparent;
	color: #708694;
	padding:0px;
	height: 10px;
}
#hr1{
	margin-top: 80px;
}
#hr2{
	margin-top: 10px;
}
form{
    float:left;
    margin-left:100px;
}
#text{
	margin-top: 40px;
	margin-left: 25%;
	width: 50%;
	padding: 10px;
	float: center;
	color: #708694;
}
#text p{
	color: #708694;
	margin:auto;
	margin-top: 40px;
	font-family: "Lucida Console";
	font-size: 16px;
}

a:link{
	color: #CDCDCE;
}
a:visited{
	color: #CDCDCE;
}
a:hover{
	color: #708694;{
}

/* ////////////////////////body/////////////////////////////// */

#p1{
    display: block;
    margin-top:150px;
    margin-left:20px;
    width: 200px;
}

/*////////////////////////submit.css/////////////////////////////// */
.sub{
        font-family: "Lucida Console";
}
#sub2{
	float: center;
	font-family: "Lucida Console";
	width:100px;
	margin-top: -80px;
	margin-left: 700px;
	color: #CDCDCE;
}
#intro{
        width: 700px;
        margin-left: 255px;
        margin-top: 15px;
        font-family: "Lucida Console";
        font-size: 12px;
        color: #CDCDCE;
}
#info{
        float: left;
        margin-left: 175px;
        font-size: 12px;
        color: #708694;
        width: 100px;
        padding:0px;
}
#pix{
	font-size: 12px;
	float: center;
	margin-left: 370px;
	width: 200px;
	color: #708694;
}
#notes{
	font-family: "Lucida Console";
	font-size: 12px;
	color: #708694;
	width: 450px;
	height: 300px;
	margin-top: -170px;
	margin-left: 600px;
	float: right;
}

/* ////////////////////////complete.css/////////////////////////////// */
#success{
	margin-top: 5%;
	margin-left: 40%;
	float: center;
	font-family: "Lucida Console";
	font-size: 18px;
	color: #CDCDCE;
}
/* ////////////////////////contact.css/////////////////////////////// */
#ct{
	font-family: "Lucida Console";
	color: #708694;
	width: 50%;
	margin-left: 25%;
	text-align: right;
	margin-top: 11%;
}
