#folio{
    	font-size: 115px;
    	margin-left: 3%;
	color: #CDCDCE;
	max-width: 250px;
	height: 80px;
	border-color: #CDCDCE;
	padding:0px;
	margin-top: 30px;
}
#folio img{
	padding: 0px;
	max-width: 250px;
}
input[type="submit"]{
	font-family: "Lucida Console";
        width: 10%;
	border: none;
	background-color: transparent;
	color: #708694;
	height: 14px;
	float: left;
}
#hr1{
	margin-top: 80px;
}
#hr2{
	margin-top: 20px;
}
#text{
	margin-top: 3%;
	margin-left: 25%;
	width: 50%;
	padding: 10px;
	float: center;
	color: #708694;
}
#text p{
	color: #708694;
	margin-top: 3%;
	font-family: "Lucida Console";
	font-size: 16px;
}
/* ////////////////////////body/////////////////////////////// */

body{
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}

#p1{
    display: block;
    margin-top:7%;
    margin-left:20px;
    width: 200px;
}
