#folio{
    	font-size: 115px;
    	margin-left: 3%;
	color: #CDCDCE;
	max-width: 250px;
	height: 80px;
	border-color: #CDCDCE;
	padding:0px;
	margin-top: 30px;
}
#folio img{
	padding: 0px;

}
input[type="submit"]{
	font-family: "Lucida Console";
        width:75px;
        border: none;
	background-color: transparent;
	color: #708694;
	padding:0px;
	height: 10px;
}
#hr1{
	margin-top: 80px;
}
#hr2{
	margin-top: 10px;
}
form{
    float:left;
    margin-left:100px;
}
#text{
	margin-top: 40px;
	margin-left: 25%;
	width: 50%;
	padding: 10px;
	float: center;
	color: #708694;
}
#text p{
	color: #708694;
	margin:auto;
	margin-top: 40px;
	font-family: "Lucida Console";
	font-size: 16px;
}

a:link{
	color: #CDCDCE;
}

a:visited{
	color: #CDCDCE;
}

a:hover{
	color: #708694;
}
/* ////////////////////////body/////////////////////////////// */

#p1{
    display: block;
    margin-top:150px;
    margin-left:20px;
    width: 200px;
}
