#credit{
        font-family: "Lucida Console";
        font-size: 11px;
        color: #CDCDCE;
        width: 50%;
	margin-top: 0%;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
}
a{
	color: #CDCDCE;
}
