#credit{
        font-family: "Lucida Console";
        font-size: 11px;
        color: #CDCDCE;
        width: 50%;
	text-align: left;
	position: fixed;
	left: 0;
	bottom: 0;
}
a{
	color: #CDCDCE;
}
