#credit{
        font-family: "Courier New";
        font-size: 0px;
        color: transparent !important;
        margin-top: 15%;
        float: center;
}
.p1{
	margin-bottom: 35% !important;
}
a{
	color: transparent !important;
}
.credit{
	font-size: 0px !important;	
}
