#ct{
	font-family: "Lucida Console";
	color: #708694;
	width: 50%;
	margin-left: 25%;
	text-align: right;
	margin-top: 8%;
}
#cred{
	font-family: "Lucida Console";
	color: #708694;
	width: 50%;
	margin-left: 25%;
	text-align: right;
	margin-top: 8%;
	
}
a{
	color: #CDCDCE;
}
