#ct{
	font-family: "Lucida Console";
	color: #708694;
	width: 50%;
	margin-left: 25%;
	text-align: right;
	margin-top: 6%;
}
#cred{
	font-family: "Lucida Console";
	color: #CDCDCE;
	width: 50%;
	margin-left: 25%;
	text-align: right;
	margin-top: 2%;
	font-size: 11px;
	
}
#mobileonly{
	font-color: transparent !important;
	font-size: 0px !important;
}
a{
	color: #CDCDCE;
	text-decoration: underline !important;
	font-size: 13px !important;
}
