#ct{
	font-family: "Lucida Console";
	color: #708694;
	width: 50%;
	margin-left: 25%;
	text-align: right;
	margin-top: 8%;
}
#contactcredit{
	font-family: "Lucida Console";
        font-size: 11px;
        color: #CDCDCE;
        margin-top: 55%;
        float: center;
}
.mobileonly{
	font-color: #fff;
	color: #fff;
}
