#ct{
        font-family: "Menlo-Regular";
        color: #708694;
        width: 74%;
        margin-left: 8%;
        text-align: right;
        margin-top: 28%;
}
#mobileonly{
	font-family: "Menlo-Regular";
	color: #708694;
	font-size: 11px;
        width: 75%;
        text-align: right;
        margin-top: 15%;
	margin-left:8%; 
	margin-bottom: 45%;
}
a{
        color: #CDCDCE;
}
