.issuuembed{
	margin-top: 75px;
}
#column1{
	margin-left: 18%;
	margin-bottom: 40px;
	float: left;
}
#column2{
	float: left;
	margin-left: 15%;
	margin-bottom: 40px;
}
#archivecredit{
        font-family: "Lucida Console";
        font-size: 11px;
        color: #CDCDCE;
        margin-top: 94%;
}
