.issuuembed{
	margin-top: 75px;
}
.column{
	width: 50%;
	float:left;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
/*#column1{
	margin-left: 18em;
	margin-bottom: 40px;
	float: left;
}
#column2{
	float: left;
	margin-left: 18em;
	margin-bottom: 40px;
}*/
#archivecredit{
        font-family: "Lucida Console";
        font-size: 9px;
	float: center;
        color: #CDCDCE;
        margin-top: 94%;
}
a{
        color: transparent;
}
body{
	color: transparent;
}
