.issuuembed{
	margin-top: 75px;
}
#column1{
	margin-left: 15%;
	margin-bottom: 40px;
	float: left;
}
#column2{
	float: left;
	margin-left: 22em;
	margin-bottom: 40px;
}
#archivecredit{
        font-family: "Lucida Console";
        font-size: 9px;
	float: center;
        color: #CDCDCE;
        margin-top: 94%;
}
a{
        color: transparent;
}
body{
	color: transparent;
}
