.issuuembed{
	margin-top: 75px;
}
.column{
	width: 50%;
	float:left;
}
.row:after {
    	content: "";
    	display: table;
    	clear: both;
}
#column1{
    	margin-left:auto;
	margin-right:auto;
}
#column2{
    	margin-left:auto;
	margin-right:auto;
}
#archivecredit{
        font-family: "Lucida Console";
        font-size: 9px;
	float: center;
        color: #CDCDCE;
        margin-top: 94%;
}
a{
        color: transparent;
}
body{
	color: transparent;
}
@media screen and (max-width: 641px) {
    .column {
        width: 100%;
	margin-left: auto;
	margin-right: auto;
    }
}
