.issuuembed{
        margin-top: 10%;
	height: 60% !important;
	width: 75% !important;
}
.issuuembed.issuu-isrendered {
 	width: 50% !important;
	height: 50% !important;
}
#column1{
        margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
}
#column2{
        margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
}
#archivecredit{
        font-family: "Courier New";
        font-size: 9px;
        float: center;
        color: #CDCDCE;
        margin-top: 94%;
}
a{
	color: transparent;
}
body{
	color: transparent;
}
