.issuuembed{
        margin-top: 75px;
        font-color: #CDCDCE !important;
}
.issuuembed.issuu-isrendered {
 	width: 50% !important;
	height: 50% !important;
}
#column1{
        margin-bottom: 40px;
        float: center;
	margin-left: 20%;
}
#column2{
        float: center;
        margin-bottom: 40px;
	margin-left: 20%;
}
#archivecredit{
        font-family: "Lucida Console";
        font-size: 9px;
        float: center;
        color: #CDCDCE;
        margin-top: 94%;
}
