.issuuembed{
        margin-top: 75px;
	font-color: #CDCDCE;
}
#column1{
        margin-bottom: 40px;
        float: center;
	margin-left: 45%
}
#column2{
        float: center;
        margin-bottom: 40px;
	margin-left: 45%;
}
#archivecredit{
        font-family: "Lucida Console";
        font-size: 9px;
        float: center;
        color: #CDCDCE;
        margin-top: 94%;
}
~  
